* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    min-width: 350px;
}


input {
    padding: 5px;
    width: 100%;
    border: 2px solid #5f9341;
}

.buttons {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
}


ul {
    margin: 10px 0;
}

li {
    margin: 4px 0;
    display: flex;
    align-items: center;
    

}

a {
    color: #5f9341;
    text-decoration: none;
    width: 275px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#delete-button {
    background-color: white;
    color: #5f9341
}

img {
    width: 20px;
    height: auto;
    border-radius: 100%;
    margin-right: 8px;
}